using UnityEngine;
using UnityEditor;
*nameSpace*


namespace GTVariable.Editor
{
    [CustomEditor(typeof(*className*CollisionEventTrigger))]
    public class *className*CollisionEventTriggerEditor : CollisionEventTriggerEditor<*className*GameEvent, *className*Event, *typeName*>
    {

    }
}