using UnityEngine;
*nameSpace*

namespace GTVariable
{
    public class *className*CollisionEventTrigger : CollisionEventTrigger<*className*GameEvent, *className*Event, *typeName*>
    {

    }
}