using UnityEngine;
*nameSpace*

namespace GTVariable
{
    public class *className*EventTrigger : EventTrigger<*className*GameEvent, *className*Listener, *className*Event, *typeName*>
    {

    }
}