using UnityEditor;
using UnityEngine;
*nameSpace*

namespace GTVariable.Editor
{
    [CustomEditor(typeof(*className*EventTrigger))]
    public class *className*EventTriggerEditor : EventTriggerEditor<*className*GameEvent, *className*Event, *typeName*>
    {

    }
}