using UnityEngine;
using UnityEditor;
*nameSpace*

namespace GTVariable.Editor
{
    [UnityEditor.CustomEditor(typeof(*className*GameEvent))]
    public class *className*GameEventEditor 
        : ParameterizedGameEventEditor<*className*Listener, *className*GameEvent, *className*Event, *typeName*>
    {

    }
}