using UnityEngine;
*nameSpace*

namespace GTVariable
{
    public class *className*GameEventListener : ParameterizedGameEventListener<*className*GameEvent, *className*Event,*typeName*>
    {

    }
}