using UnityEngine;
*nameSpace*

namespace GTVariable
{
    [CreateAssetMenu(menuName = "ScriptableVars/Events/*className* Event")]
    public class *className*GameEvent : GameEvent<*className*Event, *typeName*>
    {

    }
}

