using UnityEngine;
using UnityEditor;

namespace GTVariable.Editor
{
    [CustomEditor(typeof(*className*GameEventListener))]
    public class *className*GameEventListenerEditor : GameEventListenerEditor
    {
        
    }
}