using UnityEngine;
using UnityEditor;

namespace GTVariable.Editor
{
    [CustomEditor(typeof(*className*Listener))]
    public class *className*ListenerEditor : GameEventListenerEditor
    {
        
    }
}