using UnityEditor;

namespace GTVariable.Editor
{
    [CustomPropertyDrawer(typeof(*className*Reference))]
    public class *className*ReferenceVariablePropertyDrawer : ReferenceVariablePropertyDrawer
    {

    }
}