using UnityEngine;
using UnityEditor;
*nameSpace*

namespace GTVariable.Editor
{
    [CustomPropertyDrawer(typeof(*className*Reference))]
    public class *className*ReferenceVariablePropertyDrawer : ReferencePropertyDrawer<*className*Variable, *typeName*>
    {

    }
}
